@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Signika+Negative');

body {    
    background-color: #c6e7ff;
    color: #212121;
    font-family: 'Signika Negative', sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

div#content-wrapper {
    background-color: #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    width: 870px;
}

div#navigation {
    background-color: #262626;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    padding: 15px 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.navigation-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 870px;
}

p {
    margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    margin-top: 0;
    margin-bottom: 10px;
}

h1.site-title {
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

hr {
    background-color: #c6e7ff;
    height: 3px;
    border: 0 none;
    margin-bottom: 30px;
}

ul, ol {
    padding-bottom: 15px;
}

table {
    margin-bottom: 10px;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #0099ff;
}

table > thead > tr {
    background-color: #0099ff;
    color: #fff;

}

table > tbody > tr {
    background-color: #fff;
}

td {
    padding: 12px;
    width: 20%;
}

button {
    padding: 10px 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    background-color: #0099ff;
    border: 0 none;
    border-radius: 4px;
    margin-bottom: 10px;
    transition: all 0.3s ease-in-out 0s;
}

button:hover {
    background-color: #3aaefc;
    cursor: pointer;
    transition: all 0.3s ease-in-out 0s;
}